header {
    background-color: blueviolet;

}

nav {
    background-color: green;
}

main {
    background-color: brown;
}

ul {
    background-color: black;
}
li {
    color: white;
}

footer {
    color: green;
}
