body {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    color : burlywood
}


main {
    display: flex;
    flex-wrap: wrap;
}

section {
    flex-grow: 2;
    width: 30%;
    background-color: cornsilk;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
}