
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 10px 20px;
}

.page-title p {
  font-size: 22px;
  margin: 0;
  color: white;
}

.kiwi {
  background-color: rgb(80, 73, 62);
  padding: 10px;
  text-align: center;
}

.kiwi ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.kiwi li {
  list-style: none;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(166, 166, 92);
}

.kiwi a {
  text-decoration: none;
  color: rgb(251, 251, 251);
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
}

.kiwi a:hover {
  background-color: lightblue;
}

/* Mobile Styles */
.toggle-button {
  position: absolute;
  top: 10px;
  right: 16px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

@media screen and (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .kiwi {
    display: none;
    width: 100%;
    flex-direction: column;
  }

  .kiwi.active {
    display: flex;
  }

  .kiwi ul {
    flex-direction: column;
    width: 100%;
  }

  .kiwi li {
    padding: 8px 16px;
  }

  .kiwi a {
    border: 0;
    text-align: left;
  }
}