header{
    background-color: blueviolet;
}

nav{
background-color: green;
}

main{
   background-color: brown; 
}

main ul{
    background-color: black;
}

li{
    color: white;
}

footer{
    color: rgb(9, 197, 9);
}