body{
    margin:0px;
    Padding:0px;
    box-sizing: border-box;
    font-size: 16px;
    background-image: url(../Dark-forest.jpg);
    background-size: cover;
    font-family: "Roboto", sans-serif;
}

nav {
    display: flex;
    flex-wrap: wrap;
}

nav p {
    display: flex;
    flex-grow: 1;
    justify-content: center;

}

header {
    background-color: rgb 250, 259, 244 ;
}
header img {
    display: block;
    margin:auto;

}
main, footer {
    color: white;
    display: flex;
    width: 70%;
    justify-content: center;
    margin: 30px auto;
}

article {
    width:60%;
    padding:10px;

}

article p {
    border-bottom: solid 1px white;
    padding-bottom: 10px;
}

main ul {
    width:40%;
    padding:10px;
    align-tracks: flex-end;
}

main ul li {
    list-style-type: none;
    padding: 10px;
    margin: 10px;
    border:solid white 1px 
    text-align center;


}

nav p:hover
main ul li:hover {
    background-color: white
    colorslategray
}

h1 {
    font-size: 2em;
}
h2 {
    font-size: 2em;
}
p { 
    line-height: 2em;
}
